<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css"
      xmlns:th="http://www.thymeleaf.org">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<header>
    <div class="form-group">
        <label class="col-md-4 control-label"></label>
    </div>
</header>

<div class="container" style="min-width: 1500px; max-width: 2000px;">
    <div class="col-md-4">
        <button id="logout" style="left: 100%" type="submit" class="btn pull-right btn-success">Log Out</button>
    </div>


    <div class="row">

        <div class="col-md-7 ">

            <div class="panel panel-default">
                <div class="panel-heading"><h4>User Profile</h4></div>
                <div class="panel-body" style="min-height: 500px;">


                    <div class="box box-info">

                        <p class="box-body">
                            <div class="col-sm-6">
                                <div align="left"><img style="float:left" alt="User Pic" width="350"
                                                       src="https://x1.xingassets.com/assets/frontend_minified/img/users/nobody_m.original.jpg"
                                                       id="profile-image1" class="img-circle img-responsive">


                                    <input id="profile-image-upload" class="hidden" type="file">
                                    <div style="color:#999;">click here to change profile image</div>
                                    <!--Upload Image Js And Css-->


                                </div>

                                <br>

                                <!-- /input-group -->
                            </div>
                            <div class="col p-2 m-0">
                                <h4 style="color:#00b1b1;"><p th:text="${user.firstName} +' '+${user.lastName}"/></h4>
                                </span>

                            </div>

                            <div class="col p-2 m-0" style="display:inline">First Name:</div>
                            <p class="text-center" style="display:inline" th:text="${user.firstName}">
                            <div/>

                            <div class="col p-2 m-0" style="display:inline">Last Name:</div>
                            <p class="text-center" style="display:inline" th:text="${user.lastName}"/>
                            <div/>

                            <div class="col p-2 m-0" style="display:inline">Phone:</div>
                            <p class="text-center" style="display:inline" th:text="${user.phone}"/>
                            <div/>

                            <div class="col p-2 m-0" style="display:inline">Country:</div>
                            <p class="text-center" style="display:inline" th:text="${user.country}"/>
                            <div/>

                            <div class="col p-2 m-0" style="display:inline">City:</div>
                            <p class="text-center" style="display:inline" th:text="${user.city}"/>
                            <div/>

                            <div class="col p-2 m-0" style="display:inline">Age:</div>
                            <p class="text-center" style="display:inline" th:text="${user.age}"/>
                            <div/>

                            <div class="col p-2 m-0" style="display:inline">Date Registered:</div>
                            <p class="text-center" style="display:inline" th:text="${user.dateRegistered}"/>
                            <div/>

                            <div class="col p-2 m-0" style="display:inline">Date Last Active:</div>
                            <p class="text-center" style="display:inline" th:text="${user.dateLastActive}"/>
                            <div/>

                            <div class="col p-2 m-0" style="display:inline">Relationships Status:</div>
                            <p class="text-center" style="display:inline" th:text="${user.relationshipsStatus}"/>
                            <div/>

                            <div class="col p-2 m-0" style="display:inline">Religion:</div>
                            <p class="text-center" style="display:inline" th:text="${user.religion}"/>
                            <div/>

                            <div class="col p-2 m-0l" style="display:inline">School:</div>
                            <p class="text-center" style="display:inline" th:text="${user.school}"/>
                            <div/>

                            <div class="col p-2 m-0" style="display:inline">University:</div>
                            <p class="text-center" style="display:inline" th:text="${user.university}"/>
                            <div/>


                            <button id="add-button" class="btn btn-success" type="submit">Add</button>
                            <button id="delete-button" class="btn btn-success" type="submit">Delete</button>
                            <button id="accept-button" class="btn btn-success" type="submit">Accept</button>
                            <button id="reject-button" class="btn btn-success" type="submit">Reject</button>
                            <button id="reject-request-button" class="btn btn-success" type="submit">Reject request</button>

                            <div class="clearfix"></div>
                            <hr style="margin:5px 0 5px 0;">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


<div class="col-sm-6 panel panel-default"  style="width: 300px">
    <div class="panel-heading">Friends</div>
    <div class="panel-body"></div>



    <tr th:each="friend : ${friends}">
        <div>
        <td>
            <a th:href="@{'/user/' + ${friend.getId()}}">
                 <td th:text="${friend.getFirstName()}+' '+${friend.getLastName()} "/>
            </a>
        </td>
        </div>
    </tr>



   <!-- <div th:if="${not #lists.isEmpty(friends)}">
        <table class="table table-striped">
            <tr>
                <th>Id</th>
                <th>Name</th>
            </tr>
            <tr th:each="friend : ${friends}">
                <td th:text="${friend.id}"></td>
                <td th:text="${friend.firstName} +' '+${friend.lastName}"/>
            </tr>
        </table>
    </div>-->

    <!--<tr th:if="${friends!=null}">
    <tr th:each="friend : ${friends}">
        <p class="text-center" th:text="${friend.firstName}"/>
    </tr>-->


</div>

<div class="col-sm-6 panel panel-default" style="width: 500px">
    <div class="panel-heading">Posts</div>
    <div class="panel-body"></div>
</div>
<div class="panel panel-default" style="width: 300px">
    <div class="panel-heading">Incoming requests</div>
    <div class="panel-body"></div>
</div>
<div class="panel panel-default" style="width: 300px">
    <div class="panel-heading">Outgoing requests</div>
    <div class="panel-body"></div>
</div>


</div>
<script>
    $("#logout").click(function () {
        $.ajax({
            url: "/logout",
            type: "GET",
            success: function success() {
                alert("User is logged out.")
            },
            error: function error(xhr) {
                alert(xhr.responseText);
            }
        })
    })
</script>
<script>
    var userId = window.location.pathname.split('/').pop();
    $("#add-button").click(function () {
        $.ajax({
            url: "/addRelationship",
            type: "POST",
            data: {userToId: userId.toString()},
            success: function success() {
                alert("User is requested to be a friend.")
            },
            error: function error(xhr) {
                alert(xhr.responseText);
            }
        })
    })
</script>

<script>
    var userId = window.location.pathname.split('/').pop();
    $("#delete-button").click(function () {
        $.ajax({
            url: "/deleteRelationship",
            type: "POST",
            data: {userToId: userId.toString()},
            success: function success() {
                alert("User is deleted from friends.")
            },
            error: function error(xhr) {
                alert(xhr.responseText);
            }
        })
    })
</script>

<script>
    var userId = window.location.pathname.split('/').pop();
    $("#accept-button").click(function () {
        $.ajax({
            url: "/updateRelationship",
            type: "POST",
            data: {userFromId: userId.toString(), status: "ACCEPTED"},
            success: function success() {
                alert("User is successfully accepted to friends.")
            },
            error: function error(xhr) {
                alert(xhr.responseText);
            }
        })
    })
</script>

<script>
    var userId = window.location.pathname.split('/').pop();
    $("#reject-button").click(function () {
        $.ajax({
            url: "/updateRelationship",
            type: "POST",
            data: {userFromId: userId.toString(), status: "REJECTED"},
            success: function success() {
                alert("User is rejected.")
            },
            error: function error(xhr) {
                alert(xhr.responseText);
            }
        })
    })
</script>

<script>
    var userId = window.location.pathname.split('/').pop();
    $("#reject-request-button").click(function () {
        $.ajax({
            url: "/rejectRequest",
            type: "POST",
            data: {userToId: userId.toString()},
            success: function success() {
                alert("Request is rejected.")
            },
            error: function error(xhr) {
                alert(xhr.responseText);
            }
        })
    })
</script>

</html>