<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css"
      xmlns:th="http://www.thymeleaf.org">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="container">

    <div class="row">

        <div class="col-md-7 ">

            <div class="panel panel-default">
                <div class="panel-heading">  <h4 >User Profile</h4></div>
                <div class="panel-body" style="min-height: 800px; max-height: 1000px;">


                    <div class="box box-info">

                        <div class="box-body">
                            <div class="col-sm-6">
                                <div  align="center"> <img alt="User Pic" src="https://x1.xingassets.com/assets/frontend_minified/img/users/nobody_m.original.jpg" id="profile-image1" class="img-circle img-responsive">

                                    <input id="profile-image-upload" class="hidden" type="file">
                                    <div style="color:#999;" >click here to change profile image</div>
                                    <!--Upload Image Js And Css-->




                                </div>

                                <br>

                                <!-- /input-group -->
                            </div>
                            <div class="col-sm-8">
                                <h4 style="color:#00b1b1;"> <p th:text="${user.firstName} +' '+${user.lastName}"/></h4></span>

                            </div>
                            <div class="clearfix"></div>
                            <hr style="margin:5px 0 5px 0;">


                            <div class="col-sm-5 col-xs-6 tital " >First Name:</div><div class="col-sm-7"><p th:text="${user.firstName}"/></div>
                            <div class="clearfix"></div>
                            <div class="bot-border"></div>


                            <div class="col-sm-5 col-xs-6 tital" >Last Name:</div><div class="col-sm-7 "><p th:text="${user.lastName}"/></div>

                            <div class="clearfix"></div>
                            <div class="bot-border"></div>


                            <div class="col-sm-5 col-xs-6 tital" >Phone:</div><div class="col-sm-7">
                            <p th:text="${user.phone}"/></div>

                            <div class="clearfix"></div>
                            <div class="bot-border"></div>

                            <div class="ccol-sm-5 col-xs-6 tital" >Country:</div><div class="col-sm-7">
                            <p th:text="${user.country}"/></div>

                            <div class="clearfix"></div>
                            <div class="bot-border"></div>

                            <div class="col-sm-5 col-xs-6 tital" >City:</div><div class="col-sm-7">
                            <p th:text="${user.city}"/></div>

                            <div class="clearfix"></div>
                            <div class="bot-border"></div>

                            <div class="col-sm-5 col-xs-6 tital" >Age:</div><div class="col-sm-7">
                            <p th:text="${user.age}"/></div>

                            <div class="clearfix"></div>
                            <div class="bot-border"></div>

                            <div class="col-sm-5 col-xs-6 tital" >Date Registered:</div><div class="col-sm-7">
                            <p th:text="${user.dateRegistered}"/></div>

                            <div class="clearfix"></div>
                            <div class="bot-border"></div>

                            <div class="col-sm-5 col-xs-6 tital" >Date Last Active:</div><div class="col-sm-7">
                            <p th:text="${user.dateLastActive}"/></div>

                            <div class="clearfix"></div>
                            <div class="bot-border"></div>

                            <div class="col-sm-5 col-xs-6 tital" >Relationships Status:</div><div class="col-sm-7">
                            <p th:text="${user.relationshipsStatus}"/></div>

                            <div class="clearfix"></div>
                            <div class="bot-border"></div>

                            <div class="col-sm-5 col-xs-6 tital" >Religion:</div><div class="col-sm-7">
                            <p th:text="${user.religion}"/></div>

                            <div class="clearfix"></div>
                            <div class="bot-border"></div>

                            <div class="col-sm-5 col-xs-6 tital" >School:</div><div class="col-sm-7">
                            <p th:text="${user.school}"/></div>

                            <div class="clearfix"></div>
                            <div class="bot-border"></div>


                            <div class="col-sm-5 col-xs-6 tital" >University:</div><div class="col-sm-7">
                            <p th:text="${user.university}"/></div>

                            <div class="clearfix"></div>
                            <div class="bot-border"></div>


                    </div>
                </div>
            </div>
        </div>
    </div>
</html>